---
import { type Deployment, columns } from "./columns";
import { DataTable } from "./data-table";

async function getDeployments(): Promise<Deployment[]> {
  return fetch("http://localhost:3000/api/deployments")
    .then((res) => res.json())
    .then(({ deployments }) => deployments)
    .catch((err) => {
      console.error(err);
      return [];
    });
}
const deployments = await getDeployments();
---

<div class="container h-full mx-auto py-10 snap-start">
  <DataTable columns={columns} data={deployments} />
</div>
