---
import "@/styles/globals.css";
import { Header } from "@/components/header";
import { Intro } from "@/components/intro";
import SkillTasteIntro2 from "@/components/tastes/skill-tastes-intro2.astro";
import { SkillSet } from "@/components/skill-set";
import { Deployments } from "@/components/deployments";
import Experience from "@/components/experience/experience.astro";
import References from "@/components/references/references.astro";
import { SEO } from "astro-seo";
const siteDescription = `Full-stack developer specializing in crafting high-quality user
        experiences and robust code, with a flexible approach to
        infrastructure. Expertise spans front to back-end to infrastructure
        , ensuring seamless, efficient, and scalable solutions.`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="height=device-height, width=device-width, initial-scale=1"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <SEO
      title="Meddah Abdallah | Full Stack Developer | Software Engineer"
      description={siteDescription}
      openGraph={{
        basic: {
          title: "Meddah Abdallah | Full Stack Developer | Software Engineer",
          type: "video.movie",
          image: "https://www.meddahabdallah.pro/logo.png",
          url: "https://www.meddahabdallah.pro/presentation.mp4",
        },
        optional: {
          video: "https://www.meddahabdallah.pro/presentation.mp4",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.png" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://www.meddahabdallah.pro/logo.png",
          },
          { name: "twitter:title", content: "Meddah Abdallah" },
          {
            name: "twitter:description",
            content: "Full Stack Developer | Software Engineer",
          },
        ],
      }}
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meddah Abdallah</title>
  </head>
  <body>
    <Header />
    <main
      style="height: calc(100dvh - var(--header-height))"
      class="snap-y snap-mandatory overflow-y-auto scroll-smooth"
    >
      <Intro client:load />
      <Experience />
      <SkillTasteIntro2 />
      <SkillSet client:load />
      <Deployments client:visible />
      <References />
    </main>
  </body>
</html>
