---
import "@/styles/globals.css";
import { Header } from "@/components/header";
import { Intro } from "@/components/intro";
import SkillTasteIntro from "@/components/tastes/skill-tastes-intro.astro";
import { SkillSet } from "@/components/skill-set";
import { Deployments } from "@/components/deployments";
import Experience from "@/components/experience/experience.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="height=device-height, width=device-width, initial-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meddah Abdallah</title>
  </head>
  <body>
    <Header />
    <main
      style="height: calc(100dvh - var(--header-height))"
      class="snap-y snap-mandatory overflow-y-auto scroll-smooth"
    >
      <Intro client:load />
      <Experience />
      <SkillTasteIntro />
      <SkillSet client:load />
      <Deployments client:visible />
    </main>
  </body>
</html>
