---
import { Button } from "../ui/button";
---

<style scoped>
  .white-shadow {
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.25);
  }

  .bullets {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: hsl(var(--muted));
    margin: 0 4px;
    transition: 0.2s;
  }

  .bullet:nth-child(1) {
    background-color: hsl(var(--primary));
  }
</style>
<section class="relative flex flex-col">
  <video
    id="skill-tastes-intro-presentation"
    src="presentation.mp4"
    class="h-full m-w-[600px] object-cover"></video>
  <div class="absolute flex p-2 bottom-[20px] right-[20px]">
    <Button
      id="skill-tastes-intro-presentation-restart"
      variant="outline"
      className="rounded-full h-[32px] w-[32px] mr-2"
    >
      <i class="fa-solid fa-arrows-rotate"></i>
    </Button>
    <Button
      id="skill-tastes-intro-presentation-play"
      variant="outline"
      className="rounded-full h-[32px] w-[32px]"
    >
      <i class="fa-solid fa-play"></i>
    </Button>
  </div>
</section>

<script type="module">
  const video = document.getElementById("skill-tastes-intro-presentation");
  const playButton = document.getElementById(
    "skill-tastes-intro-presentation-play",
  );
  playButton.addEventListener("click", () => {
    if (video.paused) {
      video.play();
      playButton.innerHTML = `<i class="fa-solid fa-pause"></i>`;
    } else {
      video.pause();
      playButton.innerHTML = `<i class="fa-solid fa-play"></i>`;
    }
  });

  const restartButton = document.getElementById(
    "skill-tastes-intro-presentation-restart",
  );
  restartButton.addEventListener("click", () => {
    video.currentTime = 0;
  });

  // when the video leaves the viewport, pause it
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          video.pause();
          playButton.innerHTML = `<i class="fa-solid fa-play"></i>`;
        }
      });
    },
    { threshold: 0.5 },
  );
  observer.observe(video);
</script>
