---
import Presentation from "./presentation.astro";
import { Card } from "../ui/card";
import Game from "./game.astro";
import { Separator } from "../ui/separator";
const numberOfIconsRepitions = 5;
---

<style scoped>
  #skill-taste-intro-parallax {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  #skill-taste-intro-parallax img {
    position: absolute;
    width: 25px;
    opacity: 0.3;
    mix-blend-mode: multiply;
    transition: 0.5s ease-out;
    pointer-events: all;
  }

  #skill-taste-intro-parallax img:hover {
    opacity: 1;
    width: 30px;
  }

  #skill-taste-intro-scene {
    position: relative;
    width: 100%;
    height: 100%;
  }
</style>

<section
  id="tastes"
  class="relative w-full h-full flex flex-col py-8 px-16 snap-start snap-always isolate"
>
  <div id="skill-taste-intro-parallax">
    <div id="skill-taste-intro-scene" class="relative">
      {
        Array.from({ length: numberOfIconsRepitions }).map(() => (
          <>
            <img data-depth="0.6" src="angular.svg" alt="" />
            <img data-depth="0.2" src="react.svg" alt="" />
            <img data-depth="0.3" src="astro.svg" alt="" />
            <img data-depth="0.8" src="next.svg" alt="" />
            <img data-depth="0.2" src="svelte.svg" alt="" />
            <img data-depth="0.3" src="solidjs.svg" alt="" />
            <img data-depth="0.7" src="qwik.svg" alt="" />
            <img data-depth="0.9" src="node.svg" alt="" />
            <img data-depth="0.7" src="nest.svg" alt="" />
            <img data-depth="0.7" src="terraform.svg" alt="" />
            <img data-depth="0.7" src="kube.svg" alt="" />
            <img data-depth="0.7" src="argo.svg" alt="" />
            <img data-depth="0.7" src="jenkins.svg" alt="" />
            <img data-depth="0.7" src="git.svg" alt="" />
            <img data-depth="0.7" src="helm.svg" alt="" />
            <img data-depth="0.7" src="gh.svg" alt="" />
          </>
        ))
      }
    </div>
  </div>
  <header>
    <h1 class="text-3xl font-bold mb-4">Skill tastes</h1>
    <h6 class="text-sm text-zinc-400 ml-2 mb-8">
      🎨 Let me try and showcase what I can do
    </h6>
  </header>
  <Card className="h-full self-center flex overflow-hidden bg-background">
    <Presentation />
    <Separator orientation="vertical" />
    <Game />
  </Card>
</section>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"
></script>
<script type="module">
  const scene = document.getElementById("skill-taste-intro-scene");
  const parallaxInstance = new Parallax(scene);

  function randomPositionImages() {
    const images = document.querySelectorAll("#skill-taste-intro-scene img");
    images.forEach((img) => {
      const maxX = window.innerWidth - img.width;
      const maxY = window.innerHeight - img.height;
      const randomX = Math.floor(Math.random() * maxX);
      const randomY = Math.floor(Math.random() * maxY);
      img.style.left = `${randomX}px`;
      img.style.top = `${randomY}px`;
      img.style.scale = Math.random() * 0.5 + 0.5;
    });
  }

  randomPositionImages();
</script>
