.container {
  --__x: 50%;
  --__y: 50%;
  --__opacity: 0;
  isolation: isolate;
  background-color: black;
  overflow: hidden;
  place-items: center;
  aspect-ratio: 1;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgb(23, 24, 37) 40%,
    rgba(0, 121, 145, 1) 50%,
    rgba(120, 255, 214, 1) 80%,
    rgba(0, 121, 145, 1)
  );
  mix-blend-mode: darken;
}

.textContainer {
  pointer-events: none;
  z-index: 2;
}

.highlight {
  background: linear-gradient(
    45deg,
    rgba(0, 121, 145, 1),
    rgba(120, 255, 214, 1)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.codeShuffle {
  color: white;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: var(--__opacity);
  transition: 0.5s;

  -webkit-mask-image: radial-gradient(
    300px circle at var(--__x) var(--__y),
    black 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  mask-image: radial-gradient(
    300px circle at var(--__x) var(--__y),
    black 40%,
    rgba(0, 0, 0, 0.25),
    transparent
  );

  user-select: none;
}
