---

---

<section
  class="w-full h-full flex flex-col justify-center items-center p-0 m-0 snap-start snap-always gap-16"
>
  <h1 class="font-extrabold text-8xl">Skill tastes</h1>
  <h4 class="text-center text-xl font-regular w-9/12">
    Why settle for a long, dull list of capabilities when I can demonstrate them
    in real time? Let's jump right in and showcase what I can do, it's more
    engaging and fun!
  </h4>
</section>
