---
import { ExperienceCard } from "./card.tsx";
---

<style scoped>
  main {
    display: grid;
    grid-template:
      "citron citron padoa padoa padoa"
      "freelancer-com freelancer-com freelancer-com ursum ursum";
    gap: 4px;
  }

  @media (max-width: 768px) {
    main {
      grid-template: "citron" "padoa" "freelancer-com" "ursum";
    }
  }
</style>

<section
  id="xp"
  class="hidden md:flex flex-col snap-start snap-always py-8 px-16 h-full"
>
  <header>
    <h2 class="text-3xl font-bold mb-4">Experience</h2>
    <h3 class="text-sm text-zinc-400 ml-2 mb-8">
      💪 Had the pleasure to work with so many great people
    </h3>
  </header>
  <main class="h-full">
    <ExperienceCard name="Citron" />
    <ExperienceCard name="Padoa" />
    <ExperienceCard name="Ursum" />
    <ExperienceCard name="Freelancer.com" />
  </main>
</section>
